<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926203093858-mda5c4mj3g8ci7e3ct8fm8uru2sno5ok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926203093858-mda5c4mj3g8ci7e3ct8fm8uru2sno5ok</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>926203093858-lh2n1nvjpkbg05o2q7u9rtih6kkb09hb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCmb2114DAgeVdUl6nfk9dj0UQSxftadhw</string>
	<key>GCM_SENDER_ID</key>
	<string>926203093858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.starboyexchange</string>
	<key>PROJECT_ID</key>
	<string>starboyexchange</string>
	<key>STORAGE_BUCKET</key>
	<string>starboyexchange.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926203093858:ios:363f159823ece9de9c823b</string>
</dict>
</plist>